$color-global-text: #13182C;
$color-interactive-elements: #2E66E5;
$color-global-white: #FFFFFF;
$color-column-headers: #5C667E;
$color-placeholder-text: #5C667E;
$color-outlines-dividers-borders:#BDC5D5;
$color-header-bg-cta-hover: #232940;
$color-page-bg-column-header-bg-cta-bg: #F7F8F9;
$color-label-instock: #158463;
$color-label-out-of-stock-error-delete-icon: #C94515;


