@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.footer {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;

  @include tablet {
    padding: 4.375rem 0 2.5rem;
  }
  
  &__copyright {
    color: #BDC5D5;
    font-size: .6875rem;
    line-height: 1rem;

    @include tablet {
      font-size: .75rem;
      line-height: 1.125rem;
    }
  }
}